<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.shu.styluo.search">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name=".guidepage.GuidePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="edu.shu.styluo.search.prescriptiondetail.PrescriptionDetailActivity" />
        <activity android:name="edu.shu.styluo.search.queryprescription.QueryPrescriptionActivity" />
        <activity android:name=".prescriptionintro.PrescriptionIntroActivity"/>
    </application>

</manifest>